$lighter: #333;
$darker: #111;
$color-red: rgb(219, 23, 23);
$color-green: rgb(22, 155, 22);
$color-blue: rgb(37, 99, 233);
$color-purple: blueviolet;
$color-brown: brown;
$color-yellow: yellow;
$color-orange: orange;
$color-white: white;
