@import '_variables.scss';
@import '_mixins.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: $darker;
    min-height: 100vh;
}

.wrapper {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.luckysix {
    background-color: $lighter;
    padding: 15px;
}

.countdown {
    background-color: $lighter;
    text-align: left;
    padding: 0.7rem;
    margin-bottom: 3px;
    color: white;
    position: relative;
}

.eventId {
    font-size: 0.8rem;
    display: inline;
    line-height: 1;
    color: #aaa;
    vertical-align: center;
}

.countdownText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.balls-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    background-color: $lighter;
    color: gray;
}

.balls-grid__color {
    @include centerBall(10px);
    font-size: 0.6em;
}

.balls-grid__color--full {
    
}

.countdownTextBelow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    color: white;
}

.odds {
    margin:30px;
}
.odds span {
    margin-bottom:19px;
}

.oddSpan {
    font-size: 0.9em;
    color: gray;
}

.currentBallGrid {
    display: grid;
    margin-top: 3px;
    background-color: $lighter;
    padding: 15px;
    grid-template-columns: repeat(35, 1fr);
}

.currentBall {
    @include centerBall(10px);
    border: 1px solid gray;
    position: relative;
    font-size: 0.5em;

}

.lastTen__round {
    font-size: 0.7em;
    margin-top: 10px;
    color: #aaa;
}

.lastTen__text {
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: $lighter;
    padding: 10px;
    text-transform: uppercase;
}

.lastTen__roundDetails {
    background-color: $lighter;
    padding: 5px;
    text-transform: uppercase;
}

.lastTen__roundBallDetails {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    background-color: $lighter;
    padding: 5px;
    margin-top: 3px;
}

.lastTen__roundBallDetailsRight {
    font-size: 0.7em;
    color: lightskyblue;
    display: grid;
    grid-template-columns: auto auto;
    text-transform: uppercase;
}

.lastTen__roundBallDetailsLeftTop {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.lastTen__roundBallDetailsLeftBallsItem {
    @include centerBall(15px);
    border: 1px solid gray;
    position: relative;
    font-size: 0.7em;
}

.lastTen__roundBallDetailsLeftBalls {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(17px, 1fr));
    grid-gap: 3px;
}

.right {
    text-align: right;
}

.balls-grid__ball {
    @include centerBall(30px);
    border: 1px solid gray;
    position: relative;
    font-size: 12px;
}

.red {
    border: 1px solid $color-red;
    background-color: rgba(255, 0, 0, 0.1);
    color: $color-red;
}

.green {
    border: 1px solid $color-green;
    background-color: rgba(0, 128, 0, 0.1);
    color: $color-green;
}

.blue {
    border: 1px solid $color-blue;
    background-color: rgba(0, 0, 200, 0.1);
    color: $color-blue;
}

.purple {
    border: 1px solid $color-purple;
    background-color: rgba(138, 43, 226, 0.1);
    color: $color-purple;
}

.brown {
    border: 1px solid $color-brown;
    background-color: rgba(165, 42, 42, 0.1);
    color: $color-brown;
}

.yellow {
    border: 1px solid $color-yellow;
    background-color: rgba(255, 255, 0, 0.1);
    color: $color-yellow;
}

.orange {
    border: 1px solid $color-orange;
    background-color: rgba(255, 165, 0, 0.1);
    color: $color-orange;
}

.white {
    border: 1px solid $color-white;
    background-color: rgba(255, 255, 255, 0.1);
    color: $color-white;
}