* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #111;
    min-height: 100vh;
}

.wrapper {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.luckysix {
    background-color: #333;
    padding: 15px;
}

.countdown {
    background-color: #333;
    text-align: left;
    padding: 0.6rem;
    margin-bottom: 3px;
    color: white;
    position: relative;
}

.eventId {
    font-size: 0.8rem;
    display: inline;
    line-height: 1;
    color: #aaa;
    vertical-align: center;
}

.countdownText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.balls-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    background-color: #333;
    color: gray;
}

.balls-grid__color {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: auto;
    font-size: 0.6em;
    line-height: 10px;
    text-align: center;
}

.balls-grid__color--full {
    
}

.countdownTextBelow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    color: white;
}

.currentBallGrid {
    display: grid;
    margin-top: 3px;
    background-color: #333;
    padding: 15px;
    grid-template-columns: repeat(35, 1fr);
}

.currentBall {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    position: relative;
    font-size: 0.5em;
    line-height: 12px;
    text-align: center;
    margin: auto;
}

.lastTen__round {
    font-size: 0.7em;
    margin-top: 10px;
    color: #aaa;
}

.lastTen__text {
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #333;
    padding: 10px;
    text-transform: uppercase;
}

.lastTen__roundDetails {
    background-color: #333;
    padding: 5px;
    text-transform: uppercase;
}

.lastTen__roundBallDetails {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    background-color: #333;
    padding: 5px;
    margin-top: 3px;
    
}

.lastTen__roundBallDetailsRight {
    font-size: 0.7em;
    color: lightskyblue;
    display: grid;
    grid-template-columns: auto auto;
    text-transform: uppercase;
}

.lastTen__roundBallDetailsLeftTop {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.lastTen__roundBallDetailsLeftBallsItem {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    position: relative;
    font-size: 0.7em;
    line-height: 15px;
    text-align: center;
    margin: auto;
}

.lastTen__roundBallDetailsLeftBalls {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(17px, 1fr));
    grid-gap: 3px;
}

.right {
    text-align: right;
}


.balls-grid__ball {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    position: relative;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    margin: auto;
}

.balls-grid__ball span {
}

.red {
    border: 1px solid rgb(219, 23, 23);
    background-color: rgba(255, 0, 0, 0.05);
    color: rgb(219, 23, 23);
}

.green {
    border: 1px solid rgb(22, 155, 22);
    background-color: rgba(0, 128, 0, 0.05);
    color: rgb(22, 155, 22);
}

.blue {
    border: 1px solid rgb(37, 99, 233);
    background-color: rgba(0, 0, 200, 0.05);
    color: rgb(37, 99, 233);
}

.purple {
    border: 1px solid blueviolet;
    background-color: rgba(138, 43, 226, 0.05);
    color: blueviolet;
}

.brown {
    border: 1px solid brown;
    background-color: rgba(165, 42, 42, 0.05);
    color: brown;
}

.yellow {
    border: 1px solid yellow;
    background-color: rgba(255, 255, 0, 0.05);
    color: yellow;
}

.orange {
    border: 1px solid orange;
    background-color: rgba(255, 165, 0, 0.05);
    color: orange;
}

.white {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}